@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-canvas .apexcharts-legend-marker {
  margin-right: 8px;
}

.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
  display: flex;
  align-items: center;
}